.Home-container {
    border: solid rgb(213, 156, 227) 0.1rem;
    border-radius: 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin-bottom: 1rem;
    width: 100%;
    height: 45%;
}

.Home-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}