.Question-container {
    border: solid rgb(213, 156, 227) 0.1rem;
    border-radius: 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 11rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 3px 3px 3px mediumorchid;
    color: darkorchid;
}

.Question-container:hover {
    background-color: rgb(234, 199, 243);
    box-shadow: 1px 1px 1px mediumorchid;
    color: white;
}

.Question-link {
    text-decoration: none;
}