.Question-container {
    border: solid darkorchid 0.1rem;
    border-radius: 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 11rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 3px 3px 3px mediumorchid;
}

.Question-container:hover {
    background-color: plum;
}

.Question-link {
    text-decoration: none;
}