.Login-container {
    flex: 1;
    margin: 15rem;
    padding: 0rem 2rem 2rem 2rem;
    border: solid rgb(213, 156, 227) 0.1rem;
    border-radius: 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Login-error {
    color: darkorchid;
}

.Login-inputDiv {
    margin-bottom: 1rem;
}